<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pro.volley">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:installLocation="preferExternal"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar.Bridge"
        android:usesCleartextTraffic="true">
        <activity android:name=".Settings"></activity>
        <activity android:name=".profile.Profile" />
        <activity android:name=".details.timetable.TimeTable">


        </activity>
        <activity android:name=".details.events.Events" />
        <activity android:name=".details.department.Department" />
        <activity android:name=".details.attendance.Attendance" />
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".auth.RegistrationActivity"
            android:noHistory="true"/>
        <activity android:name=".auth.LoginActivity"
            android:noHistory="true"/>
        <activity android:name=".Splash"
            android:noHistory="true">  <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
    </application>

</manifest>